<section class="app-bg h-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card shadow" style="border-radius: 1rem;">
                    <div class="row justify-content-center align-items-center g-0">
                        <div class="col-sm pr-0">
                            <div class="w-100 h-100 limit">
                                <img class="w-100 h-100" src="assets/reading.avif" atl="reading" />
                            </div>
                        </div>
                        <div class="col-md-6 pl-0 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                    <div class="d-flex justify-content-center align-items-center mb-3 pb-1">
                                        <span class="h1 logo-font fw-bold  mb-0">Log In</span>
                                    </div>
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <div class="form-group no-mb w-100">
                                            <span class="fa fa-user form-control-prefix-icon text-muted" area-label="false"></span>
                                            <input id="username" type="text" placeholder="Username" formControlName="username" class="form-control form-control-include-icon " [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                                <div *ngIf="f.username.errors.required">Username is required</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <div class="form-group no-mb w-100">
                                            <span *ngIf="f.password.value.toString().length > 0" [ngClass]="{ 'fa-eye-slash': !hide,'fa-eye': hide }" class="fa form-control-icon text-muted" area-label="false" (click)="hide=!hide"></span>
                                            <span class="fa fa-lock form-control-prefix-icon text-muted" area-label="false" (click)="hide = !hide"></span>
                                            <input id="password" [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" class="form-control form-control-include-icon" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                <div *ngIf="f.password.errors.required">Password is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <div class="form-group no-mb w-100">
                                            <span *ngIf="f.role.value.toString().length > 0" [ngClass]="{ 'fa-eye-slash': !hide,'fa-eye': hide }" class="fa form-control-icon text-muted" area-label="false" (click)="hide=!hide"></span>
                                            <span class="fa fa-lock form-control-prefix-icon text-muted" area-label="false" (click)="hide = !hide"></span>
                                            <select id="role" placeholder="Role" formControlName="role" class="form-control form-select form-control-include-icon" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                                                
                                                <option value="reader">Reader</option>
                                                <option value="author">Author</option>
                                                
                                            </select>
                                            <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                                                <div *ngIf="f.role.errors.required">Role is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <button type="submit" class="btn btn-lg  btn-block btn-outline-primary">Log In</button>
                                    </div>
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <a [routerLink]="['../signup']" type="button" class="btn btn-lg btn-block  btn-outline-primary ">Not registered yet? Sign Up</a>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="watermark">
        <img class="book" src="assets/book.svg" alt="BOOK.SVG" />
    </div>
</section>