/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
:host {
    height: 100% !important;
}

html,
body {
    height: 100% !important;
    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
}

app-root {
    display: block;
    height: 100% !important;
}